.detail-product{
    margin-left: 100px;
    margin-right: 100px;
    .title-detail{
        text-align: center;
    }
    .link-back{
        margin-right: 100px;
    }
    .detail-image{
        width: 250px;
        height: 250px;
    }
}