.detail-product{
    margin-left: 100px;
    margin-right: 100px;
    .title-detail{
        text-align: center;
    }
    .detail-content{
        display: flex;

        .detail-image{
            width: 300px;
            height: 300px;
        }
        .content-text{
            margin-left: 30px;
            margin-top: 50px;
            .detail-price , .detail-desc, .detail-status{
                font-size: 20px;
            }
            .detail-button{
                display: flex;
                .button-buy{
                    font-size: 30px;
                   
                    width: 100px;
                    cursor: pointer;
                    background-color: wheat;
                    border: 1px solid tomato;
                    &:hover{
                        background-color: powderblue;;
                    }
                }
                .link-back{
                    background-color: burlywood;
                    margin-left: 50px;
                    text-decoration: none;
                    border: 1px solid tomato;
                    padding-top: 5px;
                    &:hover{
                        background-color: powderblue;
                    }
                }
            }
        }

    }
}